.img-container {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.card-header {
    text-align: center;
    background-color: cecece;
}

.card-text {
    text-align: center;
}
